.cabecalho{
    background-color: white;
    height: 130px;
    width: 100%;
}

.logo-sbr-dg{
    position: relative;
    top: 20px;
    left: 20px;
    width: 30%;
}

.left-sbr-dg{
    width: 70%;
    list-style: none;
    float: right;
}

.left-sbr-dg li{
    display: inline-block;
}

.left-sbr-dg li a{
    color: black;
    padding: 14px;
    text-decoration: none;
    display: block;
}

.left-sbr-dg li a:hover{
    color: rgb(12, 180, 209);
}

.left-sbr-dg li ul{
    position: absolute;
    background-color: white;
    display: none;
    
}

.left-sbr-dg li:hover ul, .left-sbr-dg li.over ul{
    background-color: white;
    display: block;
}

.left-sbr-dg li ul li{
    display: block;
    width: 170px;
}