.paginainicialdiv{
    /*
    display: flex;
    flex-direction: column;
    */
    
}

.paginainicialdivimg{
    align-items: stretch;
    /*
    display: flex;
    flex: 0.5 1 50px;
    */
}

.paginainicialtext{
    /*
    flex: 1 1 100px;
    */
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
}